@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.light-mode {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  .dark-mode {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
